extends ../layouts/default

block content
	+page-banner(page.banner.title, page.banner.subtitle, page.banner.image.url, page.banner.blurb)
	.container
		if page.whatWeDo.title
			.what-we-do
				h2= page.whatWeDo.title
				!= page.whatWeDo.copy
		+event-listing(data.items)
		.blog.col-big
			h2 Blog
			ul.posts
				each post in data.blogPosts
					+blog-post(post)
		.tweets.col-small
			h2 Tweets

