header.header {
	.logo {
		@include span-columns(4 of 12);
		@include omega();
		@include collapse-column();

		height: 83px;
		margin-top: 20px;
		text-indent: -9999px;
		background: url(/img/logo.png) no-repeat 0px 0px;

		a {
			display: block;
			height: 100%;
			width: auto;
		}

		@include media($tablet-and-below) {
			margin-top: 20px;
			background: url(/img/logo.png) no-repeat 10px 0px;
		}
	}
}
