mixin sitemap(node, first)
	h3: a(href='/keystone/page' + node.path)= node.title
	if node.children.length > 0
		if first
			ul.sitemap-parent
				each child in node.children
					li.sitemap-child
						+sitemap(child, false)
		else
			each child in node.children
				+sitemap(child, false)

