/*----------------------------------------------------- 
    Typography
------------------------------------------------------*/

// Include our fonts
// -------------------------------------//
@include font-face("Knockout HTF71-FullMiddlewt", "/font/Knockout-HTF71-FullMiddlewt", 400);
@include font-face("Knockout HTF32-JuniorCruiserwt", "/font/Knockout-HTF32-JuniorCruiserwt", 400);
@include font-face("Knockout HTF49-Liteweight", "/font/Knockout-HTF49-Liteweight", 400);
@include font-face("Knockout HTF70-FullWelterwt", "/font/Knockout-HTF70-FullWelterwt", 400);
@include font-face("Knockout HTF68-FullFeatherwt", "/font/Knockout-HTF68-FullFeatherwt", 400);

$heading-font-stack: "Knockout HTF49-Liteweight", Helvetica, Arial, sans-serif;
$body-font-stack: Helvetica, Arial, sans-serif; 


// Configure typeplate
// -------------------------------------//
$font-weight: normal;
$line-height: 1.65;
$header-line-height: 1.25;
$font-size: 87.5; 									// percentage value (16 * 87.5% = 14px)
$font-base: 16 * ($font-size/100); 	// converts our percentage to a pixel value
$font-family: $body-font-stack;

$body-copy-color: $uk-text;
$heading-color: $uk-blue;

$tera: 90;
$giga: 60;
$mega: 48;
$alpha: 36;		// h1
$beta: 30;		// h2
$gamma: 26;		// h3
$delta: 20;		// h4
$epsilon: 18;	// h5
$zeta: 16;		// h6
$eta: 14;

$type-scale-unit-value: rem;
$paragraph-vertical-whitespace: true;

// Import the typeplate sass library
@import "../../components/typeplate-starter-kit/scss/typeplate";


// Custom font settings
// -------------------------------------//
// Size our fonts according to breakpoints
html {
	@include media($tablet-and-below) {
		font-size: $font-size * 0.9%;
	}

	@include media($mobile-only) {
		font-size: $font-size * 0.8%;
	}
}

// Force our header font family
h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font-stack;
	font-weight: 300;

	margin-bottom: 1.5rem;

	// Proper line height
	line-height: $header-line-height;
}

// Text should be fixed
p, b, i, a, strong, label {
	font-size: 14px;

	&.intro {
		font-size: 16px;
	}
}

// Style our anchor tags
a {
	color: $uk-blue;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

// Allow easy font-inverting
%invert-text {
	h1, h2, h3, h4, h5, h6, p {
		color: $uk-white;
	}
}

.invert, .invert-text {
	@extend %invert-text;
}

// Give text some padding when it's collapsed
%text-collapse-padding {
	@include media($tablet-and-below) {
		> h1, > h2, > h3, > h4, > h5, > h6, > p, > a, > b {
			padding-left: $collapse-padding;
			padding-right: $collapse-padding;
		}
	}
}
