.blog {
	margin-bottom: $element-spacing * 2;

	h2 {
		color: $uk-red;
	}

	.posts {
		margin: 0;
		padding: 0;

		.post {
			margin-bottom: 20px;
			border-bottom: 1px solid #d5d9e0;

			&:last-child {
				margin-bottom: 0;
				border: none;
			}
		}
	}

	.title, .author {
		font-size: 12px;
		line-height: 12px;

		text-transform: uppercase;
		font-family: "Knockout HTF32-JuniorCruiserwt", Helvetica, Arial, sans-serif;

		margin: 0;
		color: $uk-blue;
	}

	.author {
		color: lighten($uk-blue, 40%);
	}
}
