$event-image-height: 150px;

.event {
	position: relative;
	background: $uk-blue;

	padding: 32px;

	width: 300px;
	color: $uk-white;

	.type, .tag {
		font-size: 12px;
		line-height: 12px;

		text-transform: uppercase;
		font-family: "Knockout HTF32-JuniorCruiserwt", Helvetica, Arial, sans-serif;

		margin: 0;
	}

	.tag {
		color: darken($uk-white, 40%);

		margin-bottom: 10px;
	}

	.text {
		margin: 0;
	}
}

.event-news, .event-event {
	.content {
		position: relative;
		z-index: 1;

		&.content-image-bottom {
			padding-bottom: $event-image-height - 50px;

			& ~ .image {
				bottom: 0;

				&:after {
					bottom: 0;
				}
			}
		}

		&.content-image-top {
			padding-top: $event-image-height - 50px;

			& ~ .image {
				top: 0;

				&:after {
					top: 0;
				}
			}
		}
	}

	.image {
		position: absolute;
		left: 0;
		right: 0;

		height: $event-image-height;

		background-size: cover;

		overflow: hidden;

		&:after {
			position: absolute;
			content: '';

			left: 0;

			border-top: $event-image-height solid transparent;
			border-bottom: $event-image-height solid transparent;
			border-left: 300px solid $uk-blue;
		}
	}
}

.event-funding {
	background: $uk-gray;

	.type {
		color: $uk-blue;
	}

	.tag {
		color: $uk-red;
	}

	.text {
		color: $uk-darkgray;
		font-size: 26px;
	}
}
