.page-banner {
	height: 400px;

	background-size: cover;
	color: $uk-white;

	.container {
		position: relative;
		height: 100%;
	}

	.title {
		position: absolute;
		top: 154px;

		font-size: 122px;
		line-height: 122px;

		font-family: $heading-font-stack;

		text-transform: uppercase;
	}

	.sub-title {
		position: absolute;
		top: 146px;
		left: 80px;

		font-size: 18px;
		line-height: 18px;

		font-family: "Knockout HTF32-JuniorCruiserwt", Helvetica, Arial, sans-serif;

		text-transform: uppercase;
	}

	.blurb {
		position: absolute;

		max-width: 350px;

		bottom: 40px;
		right: 80px;

		text-align: right;
	}
}
